<div class="container form">
    <div class="col-md-8">
        <h2>Sign In</h2>
        <%= form_for :session, url: sessions_path do |f| %>
        <!-- so can form_for create an object "session" not just fill
        in values for it? -->
        <!-- yes, this is just a name for collecting parameters -->
            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email" %>
            </div>
            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
            </div>
            <div class="form-group">
                <%= f.label :remember_me, class: 'checkbox' do %>
                    Remember Me <%= f.check_box :remember_me, class: "remember-checkbox"  %>
                    <!-- does this actually do anything? -->
                <% end %>
                <%= f.submit "Sign in", class: 'btn btn-success' %>
            </div>
        <% end %>
    </div>
    <div class="col-md-4 pull-right">
        <%= image_tag image_path("moss.jpg"), class: "small-img" %>
    </div>
</div>