<div class="container main">
    <div class="col-md-8 list">
        <h1><%= @user.name %></h2>
        <div class="small-text">
            <%= pluralize(@user.posts.count, 'post') %>
            <%= pluralize(@user.comments.count, 'comment') %>
        </div>
        <div class="text">
            <% if @user.has_posts? %>
                <h2>Posts</h2>
                <%= render @user.posts %>
            <% else %>
                <%= @user.name %> has not created any posts yet.
            <% end %>
        </div>
        <div class="text">
            <% if @user.has_comments? %>
                <h2>Comments</h2>
                <%= render @user.comments %>
            <% else %>
                <%= @user.name %> has not commented on any posts yet.
            <% end %>
        </div>
        <div class="text">
            <% if @user.has_favorites? %>
                <h2>Favorites</h2>
                <%= render @user.favorites %>
            <% else %>
                <%= @user.name %> has not favorited any posts yet.
            <% end %>
        </div>
    </div>
    <div class="col-md-4 pull-right">
        <% avatar_url = @user.avatar_url(200) %>
        <% if avatar_url %>
            <div class="medium-img">
                <%= image_tag avatar_url %>
            </div>
        <% end %>
    </div>
</div>