<h1>New Post</h1>

<div class="row">
    <div class="col-md-4">
        <p>Guidelines for posts</p>
        <ul>
            <li>Make sure it rhymes.</li>
            <li>Don't use the letter 'A'.</li>
            <li>The incessant use of hashtags will get you banned.</li>
        </ul>
    </div>
    <div class="col-md-8">
        <%= form_for [@topic, @post] do |f| %>
            <!-- why @topic and @post.topic? which to use? -->
            <div class="form-group">
                <%= f.label :title %>
                <!-- yields <label for="post_title">Title</label> -->
                <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
                <!-- yields <input type="text" name="post[title]" id="post_title" class= ... etc -->
            </div>
            <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
            </div>
            <div class="form-group">
                <%= f.submit "Save", class: 'btn btn-success' %>
                <!-- yields <input type="submit" name="commit" value="Save" class= ... etc> -->
            </div>
        <% end %>
    </div>
</div>

<!-- use form_for to create a form for new posts -->