<!DOCTYPE html>
<html>
<head>
  <title>Bloccit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- display content on small, high-pixel-density screens at a readable size-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", welcome_index_path %></li>
      <!-- renders "<a href="/welcome/index">Home</a> -->
      <!-- could also have typed: link_to "Home", "/welcome/index" -->
      <li><%= link_to "About", welcome_about_path %></li>
    </ul>
  </div>
  <%= yield %>
</body>
</html>
